@charset "UTF-8";

/*
    Paleta de cores 
    Branco:
    Preto:
    Vermelho Escuro: #950606
    Vermelho Intenso: #470303
    Vermelho Vivo: #CF0808
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html{
    background-color: #470303;
    width: 100vw;
    height: 100vh;
}

main{
   position: relative;
   width: 100vw;
   height: 100vh;
}

section#escolha{
    position: absolute;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 300px;
    height: 320px;
    padding: 10px;
    text-align: center;
}

div#cabecalho{
    margin-top: 30px;
}

div#cabecalho > h1{
  font-size: 2.2em;  
}

div#cabecalho > p{
    margin: 8px 0px;
}

section#escolha > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > select{
    padding: 8px;
    margin-bottom: 15px;
    font-size: 1em;
    border-radius: 15px;

}

div#formulario > select > option.campo{
    text-align: center;
}

form > input[type="submit"]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #950606;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}

div#cabecalho > a{
    display: block;
    text-decoration: underline;
    color: #950606;
    margin: 25px;
}